.hero{
    display: flex;
    flex-direction: row; /* defult -aliment is always depend on axis not secreen direction */
    justify-content: center;
    /* control the spacing and main axis */
    align-items: start;
    /* control the cross axis and start and end  */
}

.supermain{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: blueviolet;
     font-family:Arial, Helvetica, sans-serif;
     flex-grow: 2; /* discribe about the how much space a item take */
     /* align-content: ; it is used for the contols the row not items multiple row exists */
     
     
}