.desboard{
background-color: #c91818;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px 1fr));
gap: 20px;
}

.garray{
     display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}