/* .container{
    background-color: #643;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px auto 50px ;
} */

.main-contaner{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr 50px;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}
 header{
    grid-column: 1/3;
} 

footer{
    grid-column: 1/3 ;
} 