.grid-1{
    display: grid;
    grid-template-columns: auto auto auto auto ;
}

.one{
    width: 50px;
    height: 70px;
    background-color: #eee;
    gap: 10px;
    
}

.second{
    display: grid;
    grid-template-rows: 80px 60px ;
    /* background-color: #222; */
    /* justify-content: space-evenly; */
    align-content: center;
    row-gap: 20px;
    
}
