 p {
     /* width: 200px; */
     border: 5px solid black;
     padding: 25px;
     margin: 20px;

 }

 /*  it is the seperate consepte of css architecture BEM-block
     element Modifier for css better maintanees and css cuppling */
    
