* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.deshboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 65px 1fr 50px;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";

}

header {
    grid-area: header;
    background-color: #374151;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* grid-column: 1/3; */
}

.sidebar{
    grid-area: sidebar;
  background: #374151;
  color: white;
  padding: 20px;
}

.main {
  grid-area: main;
  padding: 20px;
}
footer {
    /* grid-column: 1/3; */
    grid-area: footer;
  background: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}