.cardcontainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card{
    flex: 1 1 200px;
    max-width: 200px;
    height: 150px;
    background-color: #4f4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}