*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: #afd310; */
   gap: 16px;
  padding: 16px; 
}

.box {
  background: #0a52e2;
  padding: 40px;
  text-align: center;
  font-weight: bold;
}

/* Tablet */
@media (min-width: 768px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .layout {
    grid-template-columns: repeat(3, 1fr);
  }
}