.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #222;
}

.menu a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}